name: Test suite

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: registry.gitlab.com/islandoftex/images/texlive:latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Generate the revision file
      run: |
        export tagname=$(git describe --abbrev=0 --tags)
        export revision=$(git describe --tags)
        export tagdate=$(git log -n 1 "$tagname" --pretty=format:%cs)
        export revisiondate=$(git log -n 1 "$revision" --pretty=format:%cs)
        l3build tag --date "$tagdate" "$tagname"
        cat tex/generic/pgf/pgf.revision.tex

    - name: Run test suite
      run: |
        l3build check -q --show-log-on-error
    
    - name: Archive failed test output
      if: failure()
      uses: actions/upload-artifact@v2
      with:
        name: test-diff-files
        path: build/test/*.diff
