name: Manual

on: [push, pull_request]

jobs:
  manual:
    runs-on: ubuntu-latest
    container:
      image: registry.gitlab.com/islandoftex/images/texlive:latest

    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Fixup Run actions/checkout
      run: git config --global --add safe.directory '*'

    - name: Generate the revision file
      run: |
        export tagname=$(git describe --abbrev=0 --tags)
        export revision=$(git describe --tags)
        export tagdate=$(git log -n 1 "$tagname" --pretty=format:%cs)
        export revisiondate=$(git log -n 1 "$revision" --pretty=format:%cs)
        l3build tag --date "$tagdate" "$tagname"
        cat tex/generic/pgf/pgf.revision.tex

    - name: Build the manual
      run: |
        l3build doc -q

    - name: Analyze manual log
      run: |
        # set a notice message
        # https://docs.github.com/en/actions/using-workflows/workflow-commands-for-github-actions?tool=bash#setting-a-notice-message
        # create multiline annotations by using URL-encoded newline "%0A"
        # https://github.com/actions/toolkit/issues/193#issuecomment-605394935
        OVERFULL_HBOX=$(
          grep -r '^Overfull \\hbox' build/doc/pgfmanual.log |
          awk 'BEGIN {RS=""}{gsub(/\n/,"%0A",$0); print $0}'
        )
        echo "::notice file=build/doc/pgfmanual.log,title=Overfull hbox(es)::$OVERFULL_HBOX"

    - name: Upload manual
      uses: actions/upload-artifact@v5
      with:
        name: pgfmanual
        path: build/doc/pgfmanual.pdf

    - name: Upload manual with aux
      uses: actions/upload-artifact@v5
      with:
        name: pgfmanual-with-aux
        path: |
          build/doc/pgfmanual.*
          !build/doc/pgfmanual.tex

    - name: Deploy tlcontrib
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        apt-get update -qq
        apt-get install -qq libxml-parser-perl libxml-xpath-perl libtext-unidecode-perl tree
        cp build/doc/pgfmanual.pdf ../
        bash ci/update_tlcontrib.sh
